body {
	font:  15px/25px STXihei, "Microsoft Jhenghei", STHeiti, SimHei, Helvetica, "Lucida Grande", Arial, sans-serif !important;
}

div.navigator, h1, h2 {
	behavior: url('iepngfix.htc');
}

.unit {
	padding-right: 0 !important;
}